.small{
	width: 10px;
}

body > thead{
	position: fixed;
	display: block;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.3);
	box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.3);
}

	body > thead tr{
		display: block;
		position: relative;
		float: left;
	}

		body> thead tr th{
			display: block;
			position: relative;
			float: left;
		}

		body > thead tr:last-child th{
			background: #fff;
		}

table:not([class=workers]):not([class=clients]):not([class=months]) thead th,
table:not([class=workers]):not([class=clients]):not([class=months]) tbody td {
	border-left: 1px solid #dddddd;
	text-align:center
}

.control{
	cursor: pointer;
	margin-left: 10px;
	margin-bottom: 10px;
}

.menu{
	position: fixed;
	bottom: 0;
	left: 10px;
	background: #e6e6e6;
}

.xd li:not(:first-child){
	margin-top: 7px;
}

.xd li{
	position: relative;
}

	.xd li > input[type=text]:not([name=all]){
		display: none;
	}

input[type=color]{
	display: none;
}

#bg-color{

}

tr[today] td:not([not-blur]){
	background: #ffdcab;
}

.td, .deadline{
	position:relative;
	cursor: pointer;
}

	.td:hover > img, .deadline:hover > img{
		opacity: .9;
	}

	.td img, .deadline img {
		opacity: 0;
		transition: opacity .3s ease;
		position: absolute;
		top: -8px;
		right: -8px;
		cursor: pointer;
	}

	.td:hover .hidden-text{
		display: block;
	}

	.hidden-text{
		position: absolute;
		display: none;
		z-index: 5;
		width: 200px;
		height: 150px;
		color: #000;
		border: 1px solid #e6e6e6;
	}

		.hidden-text:focus{
			display: block;
		}

.td > input, 
.deadline > input {
	/*width: 100% !important;
	padding: 1px 3px !important;*/
	background:  inherit;
	box-shadow: none !important;
	width: 130px !important;
	margin: 0;
	height: inherit;
	text-indent: 0 !important;
}

.td > input[disabled],
.deadline input[disabled]{
	cursor: pointer;
	border: none !important;
}

.time-input{
	width: 15px;
	height: inherit;
	border: none !important;
	margin: 0;
	padding: 0 !important;
	text-indent: 4px !important;
	box-shadow: none !important;
	margin-left: -3px;
	margin-top: 0px;
	background: inherit;
}

.pn > td:not(:first-child){
	border-top:1px solid #000 !important;
}
table tr:last-child > td{
	border-bottom: 1px solid #dddddd !important;
	border-top: 1px solid #dddddd !important;
}

.show-list{
	display: block !important;
	position: fixed;
	background: #fff !important;
	min-height:150px;
	min-width: 200px;
	border:1px solid #dddddd;
}

.show-list li:hover {
	background: #00BFFF;
	color: #fff;
	cursor: pointer;
}

.show-list li {
	list-style: none;
	padding: 3px 5px;
}

.th{
	position: relative;
}

	.th img {
		opacity: 0;
		position: absolute;
		top: calc(50% - 8px);
		right: 10px;
		transition: all .5s ease;
	}

	.th:hover > img{
		opacity: .8;
		cursor: pointer;
	}

#fade{
	display: none;
	/*background: rgba(0, 0, 0, .6);*/
	z-index: 9999;
	position: fixed;
	top: 0;
	left: 0;
}

.grab{
	display: block !important;
	cursor: -webkit-grab;
}

.grabbing{
	display: block !important;
	cursor: -webkit-grabbing;
}

.content{
	background: #fff;
	max-width: 300%;
	min-width: 200%;
	position: relative;
	float: left;
	font:bold 11px Arial;
}

	.content table{
		display: inline-table;
	}

		.content .workers th:first-child{
			padding: 9px 0;
		}

		.content .months{
			position: absolute;
		}

			.content .months th{
				background-color: #ffc599;
			}

				.content .months th:first-child{
					padding: 15px 0 16px 0;
				}

	.content div:not([class=head]):not([class=body]) {
		border: 1px solid #000;
		position: relative;
		float: left;
		padding: 10px 0;
	}

	.client{
		padding: 15px 0;
		text-align: center;
		box-sizing: border-box;
		width:200px;
		margin-right: 3px;
	}

	.content .head{
		position: fixed;
		top: 0;
		left:0;
		max-width: 300%;
		min-width: 200%;
	}

		.content .head > div{
			box-sizing: border-box;
			height: 49px;
			text-align: center;
			line-height: 15px;
			font-weight: bold;
		}

.content div:not(:last-child):not(:first-child){
	border-right: none !important;
}

		.content .saled{
			width: 80px;
		}

		.content .ostatok{
			width: 80px;
		}

		.content .rol{
			width: 180px;
			line-height: 25px !important;
		}

		.content .plan{
			width: 40px;
		}

		.content .date{
			width: 110px;
			line-height: 25px !important;
		}

		.content .prognoz{
			width: 55px;
		}

		.content .ost{
			width: 50px;
		}

		.content .month{
			width: 60px;
		}

			.content .head .month{
				background: #f0ad4e;
				line-height: 25px;
			}

	.content .left-clients{
		position: fixed !important;
		left:0;
		top: 50px;
		box-sizing: border-box;
		width: 200px;
		border: none !important;
	}

	.content .workers th,	.content .workers td,
	.content .clients th,	.content .clients td,
	.content .months th,	.content .months td{
		border: 1px solid #dddddd;
		text-align: center;
		border-bottom: none;
	}


		.content .clients tbody .client{
			height: 80px;
			display: table-cell;
			vertical-align: middle;
			float: none !important;
		}

		.clients tbody tr[data-id]+tr > td:first-child,
		.clients tbody tr[data-id]+tr+tr+tr+tr > td:first-child,
		.workers tbody tr > td:nth-child(2),
		.workers tbody tr > td:nth-child(4){
			background: #ffc599;
			color: #0d87e9;
		}

		.clients tbody tr[data-id]+tr+tr+tr+tr > td:last-child{
			color: #0d87e9;
			background: #e1bee7;
			border-right: 1px solid red;
		}

		.clients tbody tr[data-id]+tr+tr+tr > td{
			border-top: 1px solid red;
		}

		.clients tbody tr[data-id]+tr+tr+tr > td:last-child{
			border-right: 1px solid red;
		}

		.clients tbody tr[data-id] td,
		.clients tbody tr[data-id]+tr+tr+tr+tr td,
		.workers tbody tr[last] > td,
		.months tbody tr[last] > td{
			border-bottom: 1px solid #000 !important;
		}

		.workers tbody tr > td:first-child{
			padding: 4px 0;
		}

		.workers tbody .lost{
			background:  red !important;
			color: #fff !important;
		}

		.workers tbody tr td:nth-child(3):not([class=lost]){
			color: blue;
		}

		.workers tbody tr td[have-more]{
			background: #b2dba1;
		}

		.workers tbody tr[last] > td:nth-child(3){
			color: red;
		}

		.months input{
			text-align: center;
			text-indent: -5px;
		}

	.content table tbody td input{
		color: inherit;
		background: inherit;
		border: none !important;
	}