.small{
	width: 10px;
}

body > thead{
	position: fixed;
	display: block;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.3);
	box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.3);
}

	body > thead tr{
		display: block;
		position: relative;
		float: left;
	}

		body> thead tr th{
			display: block;
			position: relative;
			float: left;
		}

		body > thead tr:last-child th{
			background: #fff;
		}

thead th,
tbody td {
	border-left: 1px solid #dddddd;
	text-align:center
}

.control{
	cursor: pointer;
	margin-left: 10px;
	margin-bottom: 10px;
}

.menu{
	position: fixed;
	bottom: 0;
	left: 10px;
	background: #e6e6e6;
}

.xd li:not(:first-child){
	margin-top: 7px;
}

.xd li{
	position: relative;
}

	.xd li > input[type=text]:not([name=all]){
		display: none;
	}

input[type=color]{
	display: none;
}

#bg-color{

}

tr[today] td:not([not-blur]){
	background: #ffdcab;
}

.td, .deadline{
	position:relative;
	cursor: pointer;
}

	.td:hover > img, .deadline:hover > img{
		opacity: .9;
	}

	.td img, .deadline img {
		opacity: 0;
		transition: opacity .3s ease;
		position: absolute;
		top: -8px;
		right: -8px;
		cursor: pointer;
	}

	.td:hover .hidden-text{
		display: block;
	}

	.hidden-text{
		position: absolute;
		display: none;
		z-index: 5;
		width: 200px;
		height: 150px;
		color: #000;
		border: 1px solid #e6e6e6;
	}

		.hidden-text:focus{
			display: block;
		}

.td > input, 
.deadline > input {
	/*width: 100% !important;
	padding: 1px 3px !important;*/
	background:  inherit;
	box-shadow: none !important;
	width: 130px !important;
	margin: 0;
	height: inherit;
	text-indent: 0 !important;
}

.td > input[disabled],
.deadline input[disabled]{
	cursor: pointer;
	border: none !important;
}

.time-input{
	width: 15px;
	height: inherit;
	border: none !important;
	margin: 0;
	padding: 0 !important;
	text-indent: 4px !important;
	box-shadow: none !important;
	margin-left: -3px;
	margin-top: 0px;
	background: inherit;
}

.pn > td:not(:first-child){
	border-top:1px solid #000 !important;
}
table tr:last-child > td{
	border-bottom: 1px solid #dddddd !important;
	border-top: 1px solid #dddddd !important;
}

.show-list{
	display: block !important;
	position: fixed;
	background: #fff !important;
	min-height:150px;
	min-width: 200px;
	border:1px solid #dddddd;
}

.show-list li:hover {
	background: #00BFFF;
	color: #fff;
	cursor: pointer;
}

.show-list li {
	list-style: none;
	padding: 3px 5px;
}

.th{
	position: relative;
}

	.th img {
		opacity: 0;
		position: absolute;
		top: calc(50% - 8px);
		right: 10px;
		transition: all .5s ease;
	}

	.th:hover > img{
		opacity: .8;
		cursor: pointer;
	}

#fade{
	display: none;
	/*background: rgba(0, 0, 0, .6);*/
	z-index: 9999;
	position: fixed;
	top: 0;
	left: 0;
}

.grab{
	display: block !important;
	cursor: -webkit-grab;
}

.grabbing{
	display: block !important;
	cursor: -webkit-grabbing;
}

.left-block{
	position: fixed;
	top: 51px;
	left: 0;
	background: #fff;
	z-index: 2;
	width:181px;
}
	/*.left-block tr{
		display: block;
	}
		.left-block td{
			display: inline-block;
		}
		
			.left-block td:not(:first-child){
				margin-left: -3px;
			}